* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

:root {
  font-size: 16px;
}

@media screen and (max-width: 1280px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 13px;
  }
}

ul {
  list-style-type: none;
}

.container, .postsBox #readPost, .about {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #292929;
}

.subtitle, .lastPosts .posts .post .post__content .post__title {
  font-size: 1.65rem;
  font-weight: 500;
  color: #292929;
}

.paragraph, .lastPosts .posts .post .post__content .post__description, .postsBox #readPost p, .about .about__content ul, footer .developer h3 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #292929;
  padding: 16px 0;
}

.subContent, .authorName {
  font-size: 1.25rem;
  font-weight: lighter;
  color: #292929;
  padding: 16px 0;
}

.button, .btnPosts {
  width: 120px;
  min-height: 42px;
  padding: 8px 2%;
  border-radius: 12px;
  border: 2px solid #36ACCF;
  background-color: #6DD1AE;
  cursor: pointer;
}

.btnPosts {
  margin: 8px;
  cursor: auto;
}

.activeMenu {
  -webkit-clip-path: circle(1200px at 90% -10%);
          clip-path: circle(1200px at 90% -10%);
  opacity: 1;
}

.post {
  width: 100%;
  max-width: 350px;
  padding: 16px 2%;
  background-color: #6DD1AE;
  border-radius: 12px;
}

.imgAuthor, .lastPosts .posts .post .post__author {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 16px -4px 0;
}

@media screen and (max-width: 768px) {
  .imgAuthor, .lastPosts .posts .post .post__author {
    width: 42px;
    height: 42px;
  }
}

.authorName {
  display: inline-block;
  margin: 0 -4px -4px 0;
  vertical-align: top;
}

.boxBlack--active {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.lastPosts {
  width: 100%;
  padding: 48px 2%;
  background-color: white;
  text-align: center;
}

.lastPosts .subtitle, .lastPosts .posts .post .post__content .post__title {
  margin-bottom: 32px;
}

.lastPosts .posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lastPosts .posts .post {
  display: inline-block;
  margin: 16px;
  text-align: left;
}

.lastPosts .posts .post .post__content {
  padding: 24px 0;
}

.lastPosts .posts .post .post__content .post__title {
  color: #292929;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.lastPosts .posts .post .post__content .post__title:hover {
  color: #36ACCF;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.65rem;
  }
  .subtitle, .lastPosts .posts .post .post__content .post__title {
    font-size: 1.4rem;
  }
  .paragraph, .lastPosts .posts .post .post__content .post__description, .postsBox #readPost p, .about .about__content ul, footer .developer h3 {
    font-size: 1.15rem;
  }
  .subContent, .authorName {
    font-size: 1rem;
  }
}

header {
  width: 100%;
  padding: 20px 4%;
  background-color: #073447;
  z-index: 1;
}

header .logo {
  width: 100%;
  max-width: 42px;
  height: 42px;
  cursor: pointer;
}

header .container, header .postsBox #readPost, .postsBox header #readPost, header .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .iconMobile {
  width: 42px;
  height: 42px;
  font-size: 2.65rem;
  color: white;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

header .iconMobile:hover {
  color: #36ACCF;
}

@media screen and (min-width: 768px) {
  header .iconMobile {
    display: none;
  }
}

header ul {
  list-style: none;
}

header ul li {
  display: inline-block;
  margin: 0 16px -4px 0;
}

header ul li a {
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

header ul li a:hover {
  color: #36ACCF;
}

@media screen and (max-width: 768px) {
  header ul {
    width: 100%;
    position: fixed;
    right: -50%;
    top: 10vh;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #6DD1AE;
    -webkit-transition: all ease-in-out 0.6s;
    transition: all ease-in-out 0.6s;
    opacity: 0;
    -webkit-clip-path: circle(100px at 90% -10%);
            clip-path: circle(100px at 90% -10%);
    padding: 2px 0;
  }
  header ul li {
    width: 100%;
    padding: 32px 2%;
    border-bottom: 2px solid #292929;
  }
  header ul li a {
    width: inherit;
  }
  header ul li a:hover {
    background-color: white;
  }
}

@media screen and (max-width: 768px) {
  header {
    position: fixed;
  }
}

.home__main {
  width: 100%;
  padding: 128px 0;
  background-color: white;
}

.home__main .banner {
  width: 100%;
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__main .banner img {
  width: 100%;
  max-width: 500px;
  height: 340px;
}

.home__main .banner .content {
  width: 100%;
  max-width: 500px;
  padding: 0 2%;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .home__main .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home__main .banner img {
    margin: 24px 0;
    padding: 0 2%;
  }
}

.home__main .categories {
  width: 100%;
  padding: 48px 2%;
  background-color: #6DD1AE;
}

.home__main .categories ul {
  padding: 24px 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home__main .categories ul li {
  margin: 16px;
}

.home__main .categories ul a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.postsBox {
  width: 100%;
  padding: 128px 0;
  background-color: white;
  text-align: center;
}

.postsBox #readPost {
  padding: 32px 2%;
}

.postsBox #readPost p {
  text-align: left;
  padding: 16px 2%;
}

.postsBox #readPost p strong {
  margin: 24px 0;
}

.postsBox #readPost figure > img {
  width: 100%;
  max-width: 800px;
}

.postsBox #readPost .boxAuthor {
  text-align: center;
  padding: 24px 2%;
}

.postsBox #readPost h1 a {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.postsBox #readPost h1 a:hover {
  color: #36ACCF;
}

@media screen and (max-width: 768px) {
  .postsBox #readPost {
    width: 100%;
    max-width: 400px;
    padding: 32px 4%;
    text-align: left;
  }
  .postsBox #readPost .paragraph, .postsBox #readPost .lastPosts .posts .post .post__content .post__description, .lastPosts .posts .post .post__content .postsBox #readPost .post__description, .postsBox #readPost p, .postsBox #readPost .about .about__content ul, .about .about__content .postsBox #readPost ul, .postsBox #readPost footer .developer h3, footer .developer .postsBox #readPost h3 {
    font-size: 1.15rem;
  }
  .postsBox #readPost .boxAuthor {
    text-align: left;
    padding: 24px 2%;
  }
}

.knowMore {
  width: 100%;
  padding: 48px 2%;
  background-color: #6DD1AE;
  height: 250px;
}

.knowMore ul {
  padding: 24px 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.knowMore ul a {
  color: #292929;
  font-size: 1.4rem;
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.knowMore ul a:hover {
  color: #36ACCF;
}

.about {
  padding: 130px 4%;
}

.about img {
  width: 100%;
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 32px 0;
}

@media screen and (max-width: 768px) {
  .about img {
    width: 100%;
    max-width: 200px;
    height: 200px;
  }
}

.about .about__content {
  width: 100%;
  max-width: 600px;
  text-align: left;
  margin: 32px auto 0 auto;
}

.about .about__content a {
  color: #292929;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.about .about__content a:hover {
  color: #36ACCF;
}

.about .about__content ul {
  list-style-type: disc;
  list-style-position: inside;
}

footer {
  width: 100%;
  padding: 48px 2%;
  background-color: #073447;
  padding: 16px 2%;
}

footer .container, footer .postsBox #readPost, .postsBox footer #readPost, footer .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  footer .container, footer .postsBox #readPost, .postsBox footer #readPost, footer .about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .developer h3 {
  color: white;
  font-size: 1.25rem;
}

footer .developer ul {
  text-align: left;
}

footer .developer ul li {
  display: inline-block;
  margin: 8px;
}

footer .developer ul li a {
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  font-size: 2rem;
}

footer .developer ul li a:hover {
  color: #36ACCF;
}

@media screen and (max-width: 768px) {
  footer .developer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .developer h3 {
    margin: 0;
  }
  footer .developer li {
    margin: 8px 0;
  }
}

footer a {
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  font-size: 1.25rem;
  margin: 16px 0;
}

footer a:hover {
  color: #36ACCF;
}

.credits {
  width: 100%;
  background-color: #6DD1AE;
  padding: 130px 2%;
  text-align: center;
}

.credits .container, .credits .postsBox #readPost, .postsBox .credits #readPost, .credits .about {
  width: 100%;
  max-width: 400px;
  height: 400px;
  background-color: rgba(41, 41, 41, 0.2);
  border-radius: 50%;
  padding: 48px 2%;
  position: relative;
}

.credits ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.credits ul li {
  font-size: 1.15rem;
  margin: 16px 0;
  color: #292929;
}

.credits ul li a {
  color: #292929;
  font-size: 1.4rem;
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 1.15rem;
}

.credits ul li a:hover {
  color: #36ACCF;
}

@media screen and (max-width: 768px) {
  .credits .container, .credits .postsBox #readPost, .postsBox .credits #readPost, .credits .about {
    width: 100%;
    max-width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .credits .container, .credits .postsBox #readPost, .postsBox .credits #readPost, .credits .about {
    width: 100%;
    max-width: 250px;
    height: 250px;
  }
}
/*# sourceMappingURL=main.css.map */