* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

:root {
  font-size: 16px;
}

@media screen and (max-width: 1280px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 13px;
  }
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #292929;
}

.subtitle {
  font-size: 1.65rem;
  font-weight: 500;
  color: #292929;
}

.paragraph {
  font-size: 1.4rem;
  font-weight: 400;
  color: #292929;
  padding: 16px 0;
}

.subContent {
  font-size: 1.25rem;
  font-weight: lighter;
  color: #292929;
  padding: 16px 0;
}

.button {
  width: 120px;
  min-height: 42px;
  padding: 8px 2%;
  border-radius: 12px;
  border: 2px solid #36ACCF;
  background-color: #6DD1AE;
  cursor: pointer;
}

.activeMenu {
  -webkit-clip-path: circle(1200px at 90% -10%);
          clip-path: circle(1200px at 90% -10%);
  opacity: 1;
}

header {
  width: 100%;
  padding: 20px 4%;
  background-color: #073447;
}

header .logo {
  width: 100%;
  max-width: 42px;
  height: 42px;
  cursor: pointer;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .iconMobile {
  width: 42px;
  height: 42px;
  font-size: 2.65rem;
  color: white;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

header .iconMobile:hover {
  color: #36ACCF;
}

@media screen and (min-width: 768px) {
  header .iconMobile {
    display: none;
  }
}

header ul {
  list-style: none;
}

header ul li {
  display: inline-block;
  margin: 0 16px -4px 0;
}

header ul li a {
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

header ul li a:hover {
  color: #36ACCF;
}

@media screen and (max-width: 768px) {
  header ul {
    width: 100%;
    height: 100vh;
    position: fixed;
    right: -50%;
    top: 11vh;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #6DD1AE;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    opacity: 0;
    -webkit-clip-path: circle(100px at 90% -10%);
            clip-path: circle(100px at 90% -10%);
  }
  header ul li {
    width: 100%;
    height: calc(90% / 4);
    border-bottom: 2px solid #292929;
  }
  header ul li:last-child {
    border-bottom: none;
  }
  header ul li a {
    width: inherit;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header ul li a:hover {
    background-color: white;
  }
}

@media screen and (max-width: 768px) {
  header {
    position: fixed;
  }
}

.home__main {
  width: 100%;
  padding: 128px 0;
  background-color: white;
}

.home__main .banner {
  width: 100%;
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__main .banner img {
  width: 100%;
  max-width: 500px;
  height: 340px;
}

.home__main .banner .content {
  width: 100%;
  max-width: 500px;
  padding: 0 2%;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .home__main .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home__main .banner img {
    margin: 24px 0;
  }
}

.home__main .categories {
  width: 100%;
  padding: 48px 2%;
  background-color: #6DD1AE;
}

.home__main .categories ul {
  padding: 24px 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home__main .categories ul li {
  margin: 16px;
}

.home__main .categories ul a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */