.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: $black;
}

.subtitle {
    font-size: 1.65rem;
    font-weight: 500;
    color: $black;
}

.paragraph {
    font-size: 1.4rem;
    font-weight: 400;
    color: $black;
    padding: 16px 0;
}

.subContent {
    font-size: 1.25rem;
    font-weight: lighter;
    color: $black;
    padding: 16px 0;
}

.button {
    width: 120px;
    min-height: 42px;
    padding: 8px 2%;
    border-radius: 12px;
    border: 2px solid $whiteBlue;
    background-color: $white;
    cursor: pointer;
}

.line {
    width: 50%;
    height: 4px;
    border-radius: 25%;
    background-color: $cianBlue;
    margin: 0 auto;
}

.activeMenu {
    clip-path: circle(1200px at 90% -10%);
    opacity: 1;
}

.imgAuthor {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 16px -4px 0;

    @media screen and (max-width: 768px) {
        width: 42px;
        height: 42px;
    }
}

.authorName {
    @extend .subContent;
    display: inline-block;
    margin: 0 -4px -4px 0;
    vertical-align: top;
}

.boxBlack--active {
    width: 100vw;
    height: 100vh;
    background-color: rgba( #000000, 0.6);
    position: fixed;
    transition: all ease 0.3s;
}

.lastPosts {
    @include defaultBox($white);
    text-align: center;
    
    .subtitle {
        margin-bottom: 32px;
    }

    .posts {
        width: 100%;

        .post {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 16px;
            text-align: left;
            border-radius: 12px;
            border: 3px solid $cianBlue;
            padding: 16px 2%;

            main {
                padding: 16px;

                a {
                    color: $whiteBlue;
                }
            }
                        
            .post__author {
                @extend .imgAuthor;
            }

            .post__content {
                margin: 16px 0;

                .post__title {
                    @extend .subtitle;
                    color: $black;
                    transition: all ease 0.3s;

                    &:hover {
                        color: $whiteBlue;
                    }
                }

                .description {
                    margin: 16px 0;

                    p {
                        @extend .paragraph;
                        display: inline;
                    }
                }

                .readMore {
                    color: $whiteBlue;
                    display: inline;
                    @extend .subContent;
                }
            }

            .thumbnail {
                width: 100%;
                max-width: 450px;
                min-height: 150px;
                border-radius: 12px;

                @media screen and (max-width: 960px) {
                    max-width: 300px;
                    height: 200px;
                }

                @media screen and (max-width: 660px) {
                    max-width: 200px;
                    height: 80px;
                }

                @media screen and (max-width: 580px) {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
        .title {
            font-size: 1.65rem;
        }

        .subtitle {
            font-size: 1.4rem;
        }

        .paragraph {
            font-size: 1.15rem;
        }

        .subContent {
            font-size: 1rem;
        }
}