.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: $black;
}

.subtitle {
    font-size: 1.65rem;
    font-weight: 500;
    color: $black;
}

.paragraph {
    font-size: 1.4rem;
    font-weight: 400;
    color: $black;
    padding: 16px 0;
}

.subContent {
    font-size: 1.25rem;
    font-weight: lighter;
    color: $black;
    padding: 16px 0;
}

.button {
    width: 120px;
    min-height: 42px;
    padding: 8px 2%;
    border-radius: 12px;
    border: 2px solid $whiteBlue;
    background-color: $aquaGreen;
    cursor: pointer;
}

.btnPosts {
    @extend .button;
    margin: 8px;
}

.activeMenu {
    clip-path: circle(1200px at 90% -10%);
    opacity: 1;
}

.post {
    width: 100%;
    max-width: 350px;
    padding: 16px 2%;
    background-color: $aquaGreen;
    border-radius: 12px;
}