.credits {
    width: 100%;
    background-color: $whiteBlue;
    padding: 130px 2%;
    text-align: center;

    .container {
        width: 100%;
        max-width: 400px;
        height: 400px;
        background-color: rgba($black, 0.2);
        border-radius: 50%;
        padding: 48px 2%;
        position: relative;
    }

    ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        li {
            font-size: 1.15rem;
            margin: 16px 0;
            color: $black;

            a {
                @include defaultLink($black);
                text-decoration-line: underline;
                font-size: 1.15rem;

                &:hover {
                    color: $white;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .container {
            width: 100%;
            max-width: 300px;
            height: 300px;
        }
    }

    @media screen and (max-width: 400px) {
        .container {
            width: 100%;
            max-width: 250px;
            height: 250px;
        }
    }
}