footer {
    @include defaultBox($cianBlue);
    padding: 16px 2%;

    .container {
        @include flex(space-between);

        @media screen and (max-width: 768px){
            justify-content: center;
            flex-direction: column;
        }
    }

    .developer {
        @include flex(center);

        h3 {
            @extend .paragraph;
            color: $white;
            font-size: 1.25rem;
        }

        ul {
            text-align: left;

            li {
                display: inline-block;
                margin: 8px;
    
                a {
                    @include defaultLink($white);
                    font-size: 2rem;
    
                    &:hover {
                        color: $whiteBlue;
                    }
                }
            }
        }
    }

    a {
        @include defaultLink($white);
        font-size: 1.25rem;

        &:hover {
            color: $whiteBlue;
        }
    }
}