footer {
    @include defaultBox($cianBlue);

    .container {
        @include flex(space-between);

        @media screen and (max-width: 768px){
            justify-content: center;
            flex-direction: column;
        }
    }

    .developer {
        h3 {
            @extend .paragraph;
            color: $white;
        }

        ul {
            text-align: left;

            @media screen and (max-width: 768px){
                text-align: center;
            }

            li {
                display: inline-block;
                margin: 16px;
    
                a {
                    @include defaultLink($white);
                    font-size: 2.65rem;
    
                    &:hover {
                        color: $whiteBlue;
                    }
                }
            }
        }
    }

    .credits {
        ul {
            text-align: left;

            @media screen and (max-width: 768px){
                text-align: center;
            }

            li {
                font-size: 1.4rem;
                margin: 16px 0;
                color: $white;

                a {
                    @include defaultLink($white);
                    text-decoration-line: underline;

                    &:hover {
                        color: $whiteBlue;
                    }
                }
            }
        }
    }
}