.home__main {
    @include mainStyle();

    .banner {
        width: 100%;
        padding: 32px 0;
        @include flex(space-between);

        img {
            width: 100%;
            max-width: 500px;
            height: 340px;
        }

        .content {
            @include widthParagraph(500px);
        }

        @media screen and (max-width: 768px) {
            @include flex(center);
            flex-direction: column;

            img {
                margin: 24px 0;
                padding: 0 2%
            }
        }
    }

    .categories {
        @include defaultBox($aquaGreen);

        ul {
            padding: 24px 2%;
            @include flex(center);
            flex-wrap: wrap;

            li {
                margin: 16px;
            }

            a {
                width: 100%;
                height: 100%;
                text-decoration: none;
            }
        }
    }

    .lastPosts {
        @include defaultBox($white);
        text-align: center;
        
        .subtitle {
            margin-bottom: 32px;
        }

        .posts {
            @include flex(center);
            flex-wrap: wrap;

            .post {
                display: inline-block;
                margin: 16px;
                text-align: left;
                            
                .post__author {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    display: inline-block;
                    margin: 0 16px -4px 0;

                    @media screen and (max-width: 768px) {
                        width: 42px;
                        height: 42px;
                    }
                }

                .authorName {
                    @extend .subContent;
                    display: inline-block;
                    margin: 0 -4px -4px 0;
                    vertical-align: top;
                }

                .post__content {
                    padding: 24px 0;

                    .post__title {
                        @extend .subtitle;
                        color: $black;
                        transition: all ease 0.3s;

                        &:hover {
                            color: $whiteBlue;
                        }
                    }

                    .post__description {
                        @extend .paragraph;
                    }
                }
            }
        }
    }
}