.knowMore {
    @include defaultBox($white);
    max-width: 800px;
    height: 250px;
    margin: 0 auto;

    ul {
        padding: 24px 2%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;

        a {
            @include defaultLink($black);
            text-decoration-line: underline;

            &:hover {
                color: $whiteBlue;
            }
        }
    }
}