@mixin flex($justify-content) {
    display: flex;
    justify-content: $justify-content;
    align-items: center;
}

@mixin widthParagraph($width) {
    width: 100%;
    max-width: $width;
    padding: 0 2%;
    text-align: left;
}

@mixin mainStyle($padding) {
    width: 100%;
    padding: $padding;
    background-color: $white;
}

@mixin defaultBox($bgColor) {
    width: 100%;
    padding: 48px 2%;
    background-color: $bgColor;
}

@mixin defaultLink($color) {
    color: $color;
    font-size: 1.4rem;
    text-decoration: none;
    transition: all ease 0.3s;
}